.custom-naver-btn {
  width: 100%;
  padding: 16px 25px;
  background-color: #03c75a;
  color: white;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 10px;
}

.custom-naver-btn:hover {
  background-color: rgb(1, 133, 64);
}
