.custom-google-btn {
  width: 100%;
  padding: 16px 25px;
  background-color: #ffffff;
  color: #444;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: 0.2s;
  margin-top: 10px;
}

.custom-google-btn:hover {
  background-color: rgb(192, 192, 192);
}