.kakao-btn{
  width: 100%;
  background-color: #FEE500; /* 카카오 노랑 */
  border: none;
  padding: 16px 25px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #3C1E1E; /* 카카오 브라운 */
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.kakao-btn:hover {
  background-color: rgb(181, 154, 0);
}
