
.mypage-container {
    width: 450px;
    margin: 40px auto -10px;
    padding: 25px;
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* 제목 */
.mypage-title {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

/* 프로필 이미지 */
.user-profileImage {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #e5e5e5;
    margin-bottom: 20px;
}

/* 정보 텍스트 영역 */
.user-info-box {
    text-align: left;
    margin: 0 auto;
    max-width: 300px;
    font-size: 17px;
}

/* 각 항목 */
.user-info-box p {
    margin: 10px 0;
    color: #444;
}

/* strong 부분 */
.user-info-box strong {
    width: 120px;
    display: inline-block;
    color: #222;
}

/* 반응형 */
@media (max-width: 480px) {
    .mypage-container {
        width: 90%;
        padding: 20px;
    }

    .user-profileImage {
        width: 120px;
        height: 120px;
    }
}

.modify_link{
	width: 150px;
    padding: 14px;
    margin-top: 45px;
	margin-right: 15px;

    background: #4b7bec;
    border: none;
    border-radius: 12px;

    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    transition: 0.25s;
}

.modify_link:hover {
    background: #3867d6;
    transform: translateY(-2px);
}

.delete-btn{
	width: 150px;
	padding: 14px;
	margin-top: 45px;
	margin-bottom: 10px;
	
	background: #E63946;
	border: none;
	border-radius: 12px;

	color: white;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;

	transition: 0.25s;
}

.delete-btn:hover {
    background: #992222;
    transform: translateY(-2px);
}






